@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: #f8fafc;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(131, 131, 131, 0.582);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6161618e;
}

/* App layout css */
#app {
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  bottom: 0px;
  top: 0px;
  z-index: 20;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body .wrapper {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  /* transition-property: margin; */
  /* transition-duration: 300ms; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

body .wrapper .header {
  position: sticky;
  top: 0px;
  z-index: 30;
  display: flex;
  width: 100%;
  align-items: center;
  overflow: visible;
  background-color: white;
}

body .wrapper .content {
  display: flex;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
  min-height: calc(100vh - 60px);
}

body .wrapper .footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 0.5rem;
  background-color: rgba(146, 146, 146, 0.76);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Extra css  */
.card {
  width: 100%;
  border-radius: 0.4rem;
  background-color: rgb(255 255 255 / 1);
  transition-property: all;
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s; */
}

.card-body {
  padding: 1.5rem;
}